/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html {width:100%;}

body { 	 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	color:#6b6b6b;
	min-width:980px;
	background:url(../images/main-bg.gif) repeat 0 0;
}

.main {
	width:960px; 	
	padding:0;
	margin:0 auto;
	font-size:14px;
	position:relative;
	line-height:19px;
}

a {color:#1799cf; text-decoration:none;}


.col-1, .col-2 {float:left;}

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}
 
p {margin-bottom:18px;}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right !important;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#666;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}	

.buttons a:hover {cursor:pointer;}
.clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
}

.menu li a,
.list-1 li a,
.list-2 li a,
.link,
.button,
.logo {text-decoration:none;}	

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
	padding-top:118px;
	background:url(../images/header-bg.gif) repeat-x 0 0;
}

h1 {
	padding:0px 0 0 5px; 
	position:relative;	
}
h1 a {
	display:block;
	width:485px;
	float:left;
	height:79px;
	text-indent:-5000px;
	background:url(../images/logo.png) 0 0 no-repeat;
}

h1 span {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:normal;
	font-size:18px;
	float:left;
	text-transform:uppercase;
	padding-left: 3px;
    padding-top: 49px;
	line-height:1.2em;
	color:#919191;
}

h2 {
	font-size:24px;
	line-height:1.2em;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	color:#fff;
	margin-bottom: 25px;
	font-weight:normal;
}

h3 {
	color:#fff;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform:uppercase;
	font-size:21px;
	line-height:1.2em;
	font-weight:normal;
	margin-left:2px;
}

h4 {
	font-family: 'Oswald', sans-serif;
	color:#8cc102;
	font-size:18px;
	font-style:normal;
	margin-bottom:8px;
	line-height:22px;
	font-weight:normal;
	text-transform:uppercase;
}

h6 {
	color:#8cc102;
	font-weight:normal;
}

.head-box1 {
	float:right;
	margin-right:4px;
	padding-top:36px;
}

.link1 {
	float:right;
	display:inline-block;
	text-transform:uppercase;
	color:#8cc102;
	font-size:10px;
	margin-right:1px;
}

.link1:hover {
	color:#fff;
}

.menu1 a {
	color:#989898;
	font-size:10px;
	text-transform:uppercase;
}

.menu1 a:hover {
	color:#8cc102;
}

.menu1 li {
	float:left;
	padding:0 8px 0 10px;
	background:url(../images/divider1.gif) no-repeat right 6px;
}

.menu1 {
	float:right;
	margin-top:-1px;
}

.last {
	padding-right:0 !important;
	background:none !important;
}

.head-box2 {
	background:url(../images/page1-bg1.gif) repeat-x 0 bottom #f4f5f7;
	width:950px;
	margin: 0 auto 4px;
	padding:1px 0;
}

.head-box {
	margin-bottom:24px;
}

#search-form {
	background:url(../images/search-bg.png) no-repeat 0 0;
	height: 30px;
    position: relative;
    width: 266px;
	float:right;
}

#search-form input {
    border: 0 none;
    color: #000;
    height: 21px;
    line-height: 21px;
    margin-left: 9px;
    margin-top: 3px;
    outline: none;
    width: 223px;
	background:none;
}

#search-form a {	
	background:url(../images/search-marker.png) no-repeat 0 0;
	height: 15px;
    position: absolute;
    right: 9px;
    top: 7px;
    width: 18px;

}

#search-form a:hover {
	background-position:0 -43px;
}
#search-form {
	margin-right: 11px;
    margin-top: 18px;
}
	

/*** MENU ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}

nav {
	padding-left:31px;
}

.sf-menu li {
	float:left;
	position:relative;
	background:url(../images/divider2.gif) no-repeat 0 16px;
}
.sf-menu a {
	display:block;
	position:relative;
	font-family: 'Open Sans Condensed', sans-serif;
	color:#181818;
	font-size:22px;
	text-transform:uppercase;
	padding:20px 14px 22px;
}

.sf-menu ul a {
	display:block;
	position:relative;
	font-family: 'Istok Web', sans-serif;
	color:#8b8b8b;
	font-size:12px;
	text-transform:uppercase;
	background:none;
	padding:13px 0 13px 19px;
}

.sf-menu ul {	
	background:url(../images/menu-bg.gif) repeat 0 0;
    padding-top: 3px;
    position: absolute !important;
    width: 206px;
	padding-bottom: 1px;
	border-radius:2px;
-webkit-border-radius:2px;
}

.sf-menu ul li {
	width:100%;	
	background:url(../images/divider5.gif) repeat-x 0 bottom;
	padding: 0 0 2px;
}

.sf-menu ul ul {	
	background:url(../images/menu-bg.gif) repeat 0 0;
    padding-top: 3px;
    position: absolute;
    width: 206px;
	padding-bottom: 3px;
	border-radius:2px;
-webkit-border-radius:2px;
}

.sf-menu a:hover,
.sf-menu > li.sfHover > a {
	color:#9a9084;
}

.sf-menu ul >li > a:hover,
.sf-menu ul > li.sfHover > a {
	color:#fff;
	background:url(../images/menu-bg2.png) repeat 0 0;
}

.sf-menu ul ul >li > a:hover,
.sf-menu ul ul > li.sfHover > a {
	color:#8cc102;
}

.sf-menu ul ul a {
	color:#fff;
}

.sf-sub-indicator {
	background:url(../images/menu-marker.png) no-repeat center top;
	left: 44%;
    position: absolute;
    top: 47px;
	height: 6px;
	width: 11px;
}

.sf-menu a.active {
	background:url(../images/hover-bg1.gif) repeat-x 0 0;
	color:#fff;
}

.last1 {
	padding-bottom:0 !important;
	background:none !important;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu > li > a.active .sf-sub-indicator {background-position: center -56px;}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: -2px;
    top: 66px;
	z-index:99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 207px;
    top: -1px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

.sf-menu ul .sf-sub-indicator {
	background:none;
}


/*********************************gallery*************************************/

#folio{ position:relative; right:0; top:0px; width:950px; height:664px; z-index:10; margin:0 auto;}
#images { position:relative; overflow:hidden;box-shadow: 0 1px 3px #000000;-webkit-box-shadow:0 1px 3px #000000; }
#gallery{ position:relative; width:950px; height:619px; overflow:hidden}
#gallery ul{ position:relative;}
#gallery li{ float:left; position:relative;}
.scroll_gallery{ position:relative; width:100%; height:7px;background: url(../images/track.gif) 0 0 repeat-x; margin-top:9px}
.scroll_drag{ position:absolute; left:0; top:-6px; height:12px; background:#fff; width:58px; cursor:pointer}
.banner {
	position:absolute;
	bottom:-177px;
	left:0;
	width:910px;
	height:210px;
	background:url(../images/page1-bg2.png) repeat 0 0;
	color:#fff;
	font-size:14px;
	padding-left:40px;
	line-height: 18px;
}

#images:hover .banner-bg  {
	background-position:426px -964px;
}

.banner span {
	text-transform:uppercase;
	display:block;
	margin-bottom: 18px;
    padding-top: 37px;
}

.inner {
	width:608px;
	float:left;
}

.button1  {
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-transform:uppercase;
	display:inline-block;
	float:left;
	padding:7px 9px 6px 10px;
	background:#fff;
}

.button1:hover {
	color:#fff;
	background:#8cc102;
}

.inner2 {
	float:right;
	margin-right: 41px;
    padding-top: 110px;
}

.p6 {
	margin-right:30px;
}

.banner-bg {
	background:url(../images/marker1.png) no-repeat 426px 10px;
}

.page1-box1 {
	width:727px;
	margin:0 auto;
	line-height:26px;
	color:#fff;
	font-size:21px;
	text-align:center;
	text-transform:uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
}
.page1-box1 span {
	font-family: 'Oswald', sans-serif;
	font-size:48px;
	line-height:1.2em;
	margin-bottom:6px;
	display:block;
	letter-spacing:-1px;
}

.button2 {
	display:inline-block;
	color:#fff;
	background:url(../images/button-bg.gif) repeat-x 0 0 #3c2f26;
	border-bottom:1px solid #584538;
	border-left:1px solid #584538;
	border-right:1px solid #584538;
	padding:10px 7px;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	line-height:1.2em;
	position:relative;
	font-size:16px;
	border-radius:3px;
	-webkit-border-radius:3px;	
	box-shadow:0 2px 5px 0 #000000;
	-webkit-box-shadow:0 2px 5px 0 #000000;
}

.button2:hover {
	background-position:0 -83px;
	background-color:#584538;
}


/*********************************content*************************************/
#content {
	width:100%; 
	padding: 77px 0 98px;
	position:relative;
	z-index:1;
}

#page1 #content {
	padding: 64px 0 0;
}

#page3 #content {
    padding: 79px 0 68px;
}

#page4 #content {
    padding: 79px 0 128px;
}

#page5 #content {
    padding: 79px 0 67px;
}

#page6 #content {
    padding: 80px 0 112px;
}

#page7 #content {
    padding: 80px 0 123px;
	overflow:hidden;
}

																									/***** Page 1 *****/

 .page1-box2 {
	text-align:center;
	margin-top:34px;
}

																									/***** Page 2 *****/

.page2-box1 {
	color:#fff;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	font-size:24px;
	line-height: 32px;
}

.p7 {
	margin-bottom:36px;
}

.page2-box2 {
	color:#868686;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:13px;
	line-height:21px;
	overflow:hidden;
}

.link3 {
	color:#fff;
	font-size:18px;
	line-height:1.2em;
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	padding-right:9px;
	font-style:normal;
	background:url(../images/marker3.png) no-repeat right 10px;
}

.link3:hover {
	color:#8cc102;
}

.link3 {
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.p8 {
	margin-bottom:21px;
}

.page2-box3 {
	width:100%;
	overflow:hidden;
	margin-top: 12px;
	background:url(../images/bg2.gif) no-repeat 0 bottom #080605;
	
}

.b1 {
	background:url(../images/b1.gif) no-repeat 0 0;
	padding-top:1px;
	box-shadow: 0 1px 3px #000000 ;
-webkit-box-shadow:0 1px 3px #000000 ;
}

.b2 {
	background:url(../images/bg3.gif) no-repeat 0 bottom;	
	padding-bottom: 14px;
}

.page2-box3 span {
	color:#9f9f9f;
	font-size:20px;
	width:530px;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-left: 97px;
	line-height:26px;
	float:left;
	padding-bottom: 15px;
    padding-right: 36px;
    padding-top: 12px;
	 display:block;
	 background:url(../images/marker6.png) no-repeat 1px 18px;
}

.p28 { background:url(../images/divider3.gif) no-repeat left 0;
overflow: hidden;
    padding-bottom: 23px;
    padding-top: 21px;}
	

.p9 {
	margin-bottom:69px;
}



.link4 {
	color:#fff;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:16px;
	line-height:1.2em;
	padding:8px 12px 9px 13px;
	float:right;
	margin-right: 60px;
	display:inline-block;
	background:url(../images/page2-bg2.gif) repeat-x 0 0 #19130c;
}

.link4:hover {
	background:#8cc102;
}

.p10 {
	padding-bottom:5px;
	margin-bottom:67px;
}

.page2-img1 {
	margin-right:10px;
	float:left;
}

.last4 {
	margin-right:0 !important;
}

.p11 {
	margin-right:9px;
}

.page2-box4 {
	position:relative;
}

.page2-box4 a {
	position:absolute;
	top:-46px;
	right:0;
	color:#8cc102;
	font-family:Arial, Helvetica, sans-serif;
	display:inline-block;
	font-size:14px;
	background:url(../images/marker4.png) no-repeat right 7px;
	padding-right:11px;
}

.page2-box4 a:hover {
	color:#fff;
}

/* Lightbox image */
.lightbox-image {
	position:relative;
	display:inline-block;
	}
	.lightbox-image img {
		position:relative;
		z-index:2;
		}
	.lightbox-image img {float:left;}
	.lightbox-image span {
		display:block;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background:url(../images/magnify.png) no-repeat 50% 50%;
		z-index:1;
		}

.list1 a {
	color:#757575;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.list1 a:hover {
	color:#8cc102;
}

.link7 {
	position:absolute;
	right: 5px;
    top: 12px;
	color:#8cc102;
	font-family:Arial, Helvetica, sans-serif;
	display:inline-block;
	font-size:14px;
	background:url(../images/marker4.png) no-repeat right 7px;
	padding-right:11px;
}

.link7:hover {
	color:#fff;
}

.list1 li {
	padding-left:13px;
	padding-bottom: 11px;
	background:url(../images/marker5.png) no-repeat 1px 7px;
}

.p12 {
	margin-bottom:29px;
}

.page2-box5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.page2-box5 span {
	color:#8cc102;
	display:block;
}
.page2-box5 a {
	color:#fff;
	display:inline-block;
	padding-top:1px;
}

.page2-box5 a:hover {
	color:#8cc102;
}																									/***** Page 3 *****/

.page3-img1 {
	float:left;
	margin-right:10px;
}

.page3-box1 a {
	color:#8cc102;
}

.page3-box1 a:hover {
	color:#fff;
}

.page3-box1 {
	margin-bottom:1px;
	padding-right: 12px;
}

.page3-img2 {
	float:left;
	margin-right:19px;
	margin-top:4px;
}

.page3-box2 span {
	color:#8CC102;
	display:block;
}

.page3-box2 a {
	color:#fff;
	display:inline-block;
	margin-bottom:19px;
}

.page3-box2 a:hover {
	color:#8CC102;
}

.page3-box2 {
	overflow:hidden;
	margin-bottom:9px;
}

.p13 {
	margin-bottom:26px;
}

.page3-img3 {
	float:left;
	margin-right: 20px;
	margin-top:4px;
}
.p14 {
	margin-bottom:24px;
}

.p15 {
	margin-bottom:19px;
}

#newsletter {
	width:266px;
	position:relative;
	background:none;
	padding-top: 4px;
}

#newsletter input {
    height: 21px;
	line-height:21px;
	border:1px solid #323230;
	outline:none;
	background:none;
	color:#6b6b6b;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding-bottom: 4px;
    padding-left: 11px;
    padding-top: 2px;
	margin-bottom: 10px;
    width: 253px;
}

#newsletter a {
	position:relative;
	cursor:pointer;
	padding:8px 13px 9px 12px;	
	text-transform:uppercase;
	color:#f9f9f9;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	display:inline-block;
	line-height:1.2em;
	background:url(../images/button-bg2.gif) repeat-x 0 0 #19130c;
}

#newsletter a:hover {
	background-position:0 -62px;
	background-color:#281f13;
}

.p16 {
	margin-bottom:18px;
}
.p17 {
	margin-bottom:70px;
}

.page3-box6 {
	margin-bottom:79px;
}
	

																									/***** Page 4 *****/

.page4-box1 a {
	color:#8cc102;
	display:inline-block;
}

.page4-box1 a:hover {
	color:#fff;
}

.p18 {
	margin-left:5px;
}

.page4-box1 {
	padding-top:4px;
	overflow:hidden;
}

.page4-img1 {
	margin-bottom:16px;
}

.p19 {
	padding-left:3px;
}

.p20 {
	padding-left:6px;
}

.p21 {
	padding-left:9px;
}

.p22 {
	margin-bottom:23px;
}


																									/***** Page 5 *****/
.page5-box1 span {
	color:#868686;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style:italic;
	display:block;
	margin-top:-4px;
	float:left;
}

.link5 {
	color:#868686;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style:italic;
	display:block;
	margin-top:-4px;
	float:right;
}

.link5:hover {
	color:#8cc102;
}

.page5-img1 {
	float:right;
	margin-left: 9px;
    margin-right: 60px;
    margin-top: -4px;
}

.page5-box2 {
	padding-top:22px;
}

.page5-img2 {
	margin-bottom:16px;
}

.p23 {
	margin-right:13px;
}

.page5-box3 {
	overflow:hidden;
	margin-bottom:44px;
}

.page5-box4 {
	overflow:hidden;
	margin-bottom:77px;
}

#search2 {
	width:266px;
	position:relative;
	background:none;
	padding-top: 3px;
}

#search2 input {
    height: 21px;
	line-height:21px;
	border:1px solid #323230;
	outline:none;
	background:none;
	color:#6b6b6b;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-bottom: 10px;
    padding: 3px 5px 3px 11px;
    width: 248px;
}

#search2 a {
	position:relative;
	cursor:pointer;
	padding:8px 13px 9px 12px;	
	text-transform:uppercase;
	color:#f9f9f9;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	display:inline-block;
	line-height:1.2em;
	background:url(../images/button-bg2.gif) repeat-x 0 0 #19130c;
}

#search2 a:hover {
	background-position:0 -62px;
	background-color:#281f13;
}

.page5-box5 {
	overflow:hidden;
	margin-bottom:93px;
}

.page5-img3 {
	float:left;
	margin-right:20px;
	margin-top:3px;
}

.page5-box7 a {
	color:#8cc102;
	display:inline-block;	
}

.page5-box7 a:hover {
	color:#fff;	
}

.page5-box7 {
	overflow:hidden;
}

.p24 {
	margin-bottom:12px;
}

.link6 {
	position:relative;
	width:79px;
	display:block;
	height:16px;
	margin-bottom: 12px;
	margin-left:1px;
	background:url(../images/page5-img6.png) no-repeat 0 0;
}
.link6:hover {
	background-position: 0 -42px;
}


.p25 {
	margin-bottom:4px;
}

.page7-box1 {
	overflow:hidden;
}

.page7-box1 a {
	color:#fff;
}
.page7-box1 a:hover {
	color:#8cc102;
}


																									
	
																									/***** Contact form *****/
#form1 {
	position:relative;
	vertical-align:top;
	z-index:1;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:3px;
}

#form1 fieldset {
border:none;
padding:0;
}

.page6-img1 {
	float:left;
	margin-right:20px;
	margin-bottom: 19px;
}


.p26 {
	margin-bottom:28px;
}


#form1 label {display:block; height:40px; position:relative;width: 382px;}
#form1 label.message { height:188px; width:309px; }

#form1 input {
	outline: none;
	border:1px solid #323230;
	color: #6b6b6b;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
	background:none;
	line-height:17px;
	padding: 5px 11px;
    width: 166px;
	display:inline-block;
}
#form1 .area .error { float:none;}
#form1 textarea {	
	height:150px;
	margin:0;
	width:286px;	
	resize:none;
	line-height:17px;
	outline: none;
	border:1px solid #323230;
	padding: 5px 11px;
	overflow:auto;
	background:none;
	color:#6b6b6b;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	display:block;
}
#form1 a {cursor:pointer;}
#form1 .success {
	display:none;
	position: absolute;
	font-family:Arial, Helvetica, sans-serif;
	left: 0px;
	top: -14px;
	color:#717171;
	font-size:12px;
}
#form1 .error,
#form1 .empty {
	color:#f00;
	font-size:10px;
	line-height:1.25em;
	display:none;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
	position:absolute;
	right:84px;
	top:3px;
}
#form1 .message .error,
#form1 .message .empty  {
	right: 2px;
    top: 147px;
}

.link-form {
	float: left;
}

.p27 {
	margin-right:18px;
}

dl {
	float:left;
	margin-bottom: 20px;
}

.text1 {
	color:#8cc102;
	display:block;
	margin-bottom:19px;
	margin-top: -4px;
}

dt {width:160px;}

dl span {float:left; width:98px;}

dd { line-height:19px;}

dd a {color:#fff;}

dd a:hover {color:#8cc102; text-decoration:underline;}

		
/****************************footer************************/
footer {
	width:100%; 
	padding:27px 0 26px;
	background:#101010;
}

.page-foot {
	margin-left:3px;
}

.soc-link a {
	color:#a6a7a9;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-transform:uppercase;
}

.soc-link li {
	float:left;
	background:url(../images/marker2.gif) no-repeat 0 8px;
	padding:0 8px 0 13px;
}

.first {
	padding-left:0 !important;
	background: none !important;
}

.soc-link {
	margin-top:-1px;
}

.page-foot1 {
	float:right;
	width:153px;
	text-align:left;
	color:#8cc102;
	font-size:12px;
}
.page-foot2 {
	float:left;
}

.link2 {
	text-transform:uppercase;
	color:#949494;
}

.link2:hover,
.soc-link a:hover {
	color:#8cc102;
}

.foot-bot {
	margin-left: 4px;
    margin-top: -2px;
}

.foot {
	text-align:center;
}
